*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow: hidden; */
    font-family: "Poppins", sans-serif;
}

body{
    background-color: #ece6e0;
}

button{
    background-color: #467d46;
    border: 2px solid #467d46;
    border-radius: 8px;
    padding: 4px 20px;
    color: #ffffff;
    font-weight: 400;
}

button:hover{
    background-color: #ffffff;
    border: 2px solid #467d46;
    color: #000000;
    font-weight: 400;
    font-size: 13px;
}

nav img{
    width: 100px;
    /* height: 20px; */
}

nav{
    display: flex;
    align-items: center;
    gap: 50px;
    margin-left: 13%;
    margin-top: 15px;
}

.section{
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
    margin-left: 13%;
    align-items: center;
}

a{
    text-decoration: none;
    color: #000000;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
}

a:hover{
    font-size: 16px;
    font-weight: 600;
}

.section-left-part p{
    margin: 20px 0px;
}

.section-right-part div img{
    width: 30%;
}
.section-right-part img{
    width: 60%;
}